<div class="container">
  <h3>Upcoming Event: <%= @event.title %></h1>
    <div>
      <b><%= "#{@event.datetime.to_formatted_s(:long_ordinal)}" %></b>
      <br />
      <b><%= @event.location %></b>
      <p class="flow-text"><%= @event.description %></p>
    </div>
</div>
