<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3 align="center">Welcome to CPCB Alerts<h3>
    <div>
      If you would like to add your phone number to receive SMS reminders prior to an event, please <%= link_to "click this link.", edit_user_registration_path(@user.id) %>
    </div>
    <div>
      Thanks for joining!
    </div>
  </body>
</html>
