<h3 align="center">Welcome to DCB Alerts<h3>
<div>
  <p>Thanks for joining! Please make sure to confirm your email address, you will receive another email asking you to do so.</p>
  <p>You can change what events you are subscribed to and your notification preferences on your profile page at <a href="https://cpcb-alerts.herokuapp.com/">the alert system website</a>.
  <p>If you have any questions, please contact <a href="mailto:nea24@pitt.edu">Neha Abraham</a> at nea24@pitt.edu</p>
  <p>Thanks!</p>
</div>
