nav{
  padding-left: 10px;
  padding-right: 10px;
}

/* sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 15px;
}
/* end sticky footer */

.text-center{
  text-align: center;
}

#error_explanation{
  ul{
    background-color: #c62828;
    padding: 15px;
    color: white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }
}

.alert{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2em;
}

.alert-alert{
  background-color: #ffa726;
}

.alert-notice {
  background-color: #26a69a;
}

.alert-danger{
  background-color: #ef5350;
}

.alert-success{
  background-color: #66bb6a;
}
