<nav class="blue lighten-1">
  <div class="nav-wrapper">
    <%= link_to "cpcb alerts", root_path, class: 'brand-logo' %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <%= link_to "Home", root_path %>
    </ul>
  </div>
</nav>
